@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  top: 0;
  background-color: none ;
 font-weight: 600;
  color: #2d2d2d;
  font-size: 14px;
}
input{
  font-weight: 600;
}
/*Seller*/
.ps-seller{
  background-color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
}
.notify-badgeee{
  position: absolute;
  right:-5px;
  background-color:#f00d0d;
  text-align: center;
  color:white;
  font-size:10px;
  border-radius: 10px;
  height: 15px;
  padding: 0px 4px;
  top:-5px;
}
.stpesanan00{
  background-color: #f89156;
  color: #2d2d2d;
  padding: 0px 6px;
  border-radius: 10px;
}
.stpesanan01{
  background-color: #4ab0df;
  color: #2d2d2d;
  padding: 2px 10px;
  border-radius: 10px;
}
.stpesanan02{
  background-color: #5bebd3;
  color: #2d2d2d;
  padding: 2px 10px;
  border-radius: 10px;
}
.stpesanan03{
  background-color: #46e661;
  color: #2d2d2d;
  padding: 2px 10px;
  border-radius: 10px;
}
.stpesanan04{
  background-color: #b81b1b;
  color: #2d2d2d;
  padding: 2px 10px;
  border-radius: 10px;
}
.stpesanan05{
  background-color: #124349;
  color: #2d2d2d;
  padding: 2px 10px;
  border-radius: 10px;
}
.detail-pesananbaru{
  background-color: white;
  padding: 10px 15px;
  font-size: 12px;
  border-radius: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 22px 0 rgba(121, 121, 121, 0.2)
}
.text-detailjudul{
  font-size: 15px;
  color: #2d2d2d;
  font-weight: bold;
}
.text-detail{
  font-size: 12px;
  color: #2d2d2d;
  font-weight: bold;
}
.inp-detailpesanan{
  font-size: 12px;
  border: none;
  color: #2d2d2d;
  width: 7rem;
  font-weight: bold;
}
.btn-review{
  border:none;
  border-radius:10px;
  padding: 4px 10px;
  font-size: 12px;
  color: #2d2d2d;
  background-color: #818181;
}
input{
  background-color: white;
  border:none;
}
  .txt-Judul {
    font-size: 14px;
    font-weight: 500;
  }
  .txt-Statistik {
    font-size: 15px;
    color:#000000;
    font-weight: bold;
  }
  .txt-dsc {
    font-size: 20px;
    color:#2d2d2d;
    font-weight: 500;
  }
  .P-Seller{
    padding: 20px 20px;
    overflow:hidden;
    background-color:#f5f5f5;
    border-radius:20px;
    font-size: 12px;
    font-weight: 400;
    border: 1px solid #fcfcfc;
    box-shadow: 0 4px 8px 0 rgba(46, 46, 46, 0.2), 0 6px 20px 0 rgba(75, 75, 75, 0.19);
  }
  .txt-P-Seller{
    font-size: 20px;
    font-weight: bold;
    color: #2d2d2d;
    font-family: "Poppins", sans-serif;
  }
  .txt-P-Seller-desc{
    font-size: 12px;
    font-weight: bold;
    color: #2d2d2d;
    font-family: "Poppins", sans-serif;
  }
  .btn-P-Seller{
    color: #eee;
    width: 8rem;
    font-weight: bold;
    background-color: #079ebd;
    border-radius: 10px;
    border:none;
    font-size: 12px;
    padding: 5px 5px;
  }
  .btn-P-Seller:hover{
    color:#2d2d2d;
    background-color: #eee;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(39, 39, 39, 0.2), 0 6px 20px 0 rgba(22, 22, 22, 0.19);
  }
  .cardd{
    width:10rem; 
    align-items: center;
    text-align: center;
    padding: 5px 5px;
    overflow:hidden;
    background-color:#fcfcfc;
    border-radius:10px;
    font-size: 12px;
    font-weight: 400;
    box-shadow: 0 4px 8px 0 rgba(224, 224, 224, 0.2), 0 6px 20px 0 rgba(207, 207, 207, 0.19);
  }
  .cardd:hover{
    box-shadow: 0 4px 8px 0 rgba(104, 104, 104, 0.2), 0 6px 20px 0 rgba(80, 80, 80, 0.19);
    color: #0dcaf0;
    font-weight: bold;

  }
  .card-seller{
    width:11.5rem; 
    height:4rem; 
    padding:10px 10px;
    overflow:hidden;
    background-color:#fcfcfc;
    border-radius:10px;
    font-size: 12px;
    font-weight: 400;
    border: 1px solid #e7e7e7;
    box-shadow: 0 4px 8px 0 rgba(238, 238, 238, 0.2), 0 6px 20px 0 rgba(167, 167, 167, 0.19);
  }
  .card-statistik{
    width:10rem; 
    align-items: center;
    border-bottom: 2px solid #0dcaf0;
    text-align: center;
    padding: 5px 5px;
    overflow:hidden;
    background-color:#fcfcfc;
    border-radius:10px;
    font-size: 12px;
    font-weight: 400;
    box-shadow: 0 4px 8px 0 rgba(161, 161, 161, 0.2), 0 6px 20px 0 rgba(167, 167, 167, 0.19);
  }
  .card-fitur{
    width:10rem; 
    align-items: center;
    text-align: center;
    padding: 5px 5px;
    overflow:hidden;
    background-color:#fcfcfc;
    border-radius:10px;
    font-size: 12px;
    font-weight: 400;
    box-shadow: 0 4px 8px 0 rgba(161, 161, 161, 0.2), 0 6px 20px 0 rgba(167, 167, 167, 0.19);
  }

  .card-footer{
    background: none;
    border: none;
  }
  .card:hover{
    background-color: #fafafa;
    color : #0dcaf0 ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .card-statistik:hover{
    background-color: #fafafa;
    color : #0dcaf0 ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .card-fitur:hover{
    background-color: #f3f3f3;
    color : #0dcaf0 ;
    font-weight: boled;
  }
  .text-dr{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 11px;
    color: #818181;
    display: block;
    border: none;
    border-radius:20px;
    background: none;
    font-family: "Poppins";
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }

  .dropdown-btn:hover {
    color: #0dcaf0;
    font-weight: bold;
    font-family: "Poppins";
    text-decoration:none;
  }
  .dropdown-btn{
    padding: 6px 8px 6px 16px;
    border-bottom: 1px solid #0dcaf0;
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    margin-bottom:7px;
    display: block;
    border: none;
    border-radius:20px;
    background: none;
    font-family: "Poppins";
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  .dropdown-ct {
    display: none;
    background-color: white;
    padding-left: 8px;
    font-family: "Poppins";
    }
  .text-dr:hover{
    color:black;
    font-weight: bold;
  }
  .div-tab {
    background-color: #fafafa;
    padding: 5px 10px;
    border:2px solid #fafafa;
    border-radius:20px; 
    padding:10px 10px;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(170, 170, 170, 0.2), 0 1px 8px 0 rgba(180, 180, 180, 0.19);
  }
  /*chat*/
    .open-button-seller {
      background-color: #0dcaf0;
      padding: 6px 6px;
      font-size: 12px;
      color: white;
      border: none;
      cursor: pointer;
      opacity: 0.8;
      position: fixed;
      bottom: 20px;
      right: 5px;
      width: 150px;
      z-index: 5;
      margin-bottom: 10px;
      border-radius: 10px;
      margin-right: 24px;
    }
    .open-button-seller:hover{
      font-weight: bold;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .chat-popup {
      display: none;
      position: fixed;
      bottom: 5px;
      right: 5px;
      z-index: 99999;
    }
  .form-container {
    max-width: 250px;
    padding: 10px;
    background-color: #0dcaf0;
    border-radius: 20px;
  }

  .form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: white;
    resize: none;
    min-height: 150px;
  }

  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }

  .form-container .btn {
    background-color: #0a58ca;
    color: white;
    padding: 15px 15px;
    border: none;
    cursor: pointer;
    width: 110px;
    margin-bottom: 10px;
    opacity: 0.8;
  }
  .btn-lainnya {
    width: 9rem;
    height: 30px;
    border-radius: 20px;
    padding: 5px;
    background-color: #0dcaf0;
    color: white;
    border: none;
    margin-left: 45%;
  }

  .btn-lg {
    width: 10rem;
    color: #0dcaf0;
    background-color: #eeeeee;
    font-weight: bold;
    font-size: 14px;
    border: 1px solid #eeeeee;
  }

  .btn-lgg {
    color:#eeeeee;
    background-color: #0dcaf0;
    font-weight: bold;
    font-size: 12px;
    border: 1px solid #0dcaf0;
    margin-top:3px;
    padding:5px;
    position: left;
  }

  .btn-cust {
    color:#eeeeee;
    background-color: #0dcaf0;
    font-weight: bold;
    font-size: 12px;
    border: none;
    position: left;
  }
  .dropdown-item{
    font-size: 12px;
  }
  .btn-rg {
    width: 5rem;
    color: #0dcaf0;
    font-weight: bold;
    font-size: 12px;
    border: none;
  }
  .form-container .cancel {
    background-color: red;
  }

  .form-container .btn:hover,
  .open-button:hover {
    opacity: 1;
    
  }
  /*chat*/

  .sidenav {
    height: 85%;
    width: 210px;
    position: fixed;
    z-index: 1;
    top: 4rem;
    left: 0;
    font-family: "Poppins";
    background-color: white;
    overflow-x: auto;
    padding-top: 20px;
  }
  .main {
    margin-left: 200px;
    font-size: 20px; 
    padding: 0px 10px;
    font-family: "Poppins";
    padding-top: 20px;
  }
  
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .ct {
    max-width: 100%;
    padding: 10px;
  }

/*Seller*/


/*Responsive*/
@media screen and (min-width: 1200px) {
  .search .row {
    justify-content: center;
  }

  .bar {
    margin-left: 20px;
  }
}

@media screen and (min-width: 992px) {
  .form-control {
    margin-left: 100px;
  }

  .cart {
    margin-left: 30px;
  }

  .nav-item {
    display: none;
  }

  .nav .navbar {
    justify-content: space-around;
  }
}

@media screen and (max-width: 992px) {
  .header-font {
    display: none;
  }

  .icon-media {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .bar {
    margin-right: 40px;
    margin-left: 40px;
  }

  .navbar-nav {
    text-align: start;
  }

  .carousel-inner {
    position: relative;
  }
}

@media screen and (max-width: 768px) {
  .navbar-nav {
    text-align: start;
  }

  .carousel-inner {
    position: relative;
  }

  .help {
    display: none;
  }
}

@media screen and (max-width: 540px) {
  /* flashsale*/

  .card {
    max-width: 200px;
  }

  .progress img {
    left: -15px;
    top: 0;
    position: relative;
    z-index: 10;
  }

  .diskon-fl {
    max-width: 25px;
    max-height: auto;
    right: -90px;
  }

  .diskon-fl > span {
    font-size: 10px;
  }

  .image-fl > img {
    max-width: 100px;
    max-height: 100px;
  }

  .price-fl span {
    font-size: 12px;
  }

  .progress span {
    font-size: 10px;
  }
}

@media screen and (min-width: 420px) {
  .logo {
    width: 75px;
  }

  .navbar .a {
    margin: 3px;
  }
}

@media screen and (max-width: 420px) {
  .carousel-inner {
    position: relative;
  }

  .form-control {
    width: 170px;
  }

  .bar ::placeholder {
    font-size: 12px;
  }

  .logo {
    padding: 0;
    width: 75px;
  }

  .bar {
    margin: 0;
    margin-right: 2px;
  }

  .footer span {
    font-size: 10px;
  }
}

/*Responsive*/
